@import "tailwindcss";

@font-face {
	font-family: "FontSans";
	src: url("./assets/fonts/regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FontHeading";
	src: url("./assets/fonts/compressed.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FontSerif";
	src: url("./assets/fonts/serif.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-brand: oklch(74.48% 0.1727 158.48);
	--color-presenter: var(--color-presenter);

	--font-sans: "FontSans", "sans-serif";
	--font-heading: "FontHeading", "sans-serif";
	--font-serif: "FontSerif", "serif";

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	--animate-fadeIn: fadeIn 300ms linear;

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	--animate-fadeIn: fadeOut 300ms linear;

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
	--animate-caret-blink: caret-blink 1.2s ease-out infinite;
}

@utility scrollbar-hide {
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility text-trim {
	text-box-trim: trim-both cap alphabetic;
}

@layer base {
	html {
		text-rendering: optimizeLegibility;
		overflow: hidden;
	}

	/** Prevent flash of highlighted color on interactable element press. */
	a,
	input,
	button,
	select,
	summary {
		-webkit-tap-highlight-color: #0000;
	}

	a,
	button,
	select,
	summary {
		cursor: pointer;
	}

	/** Interactable elements have a consistent outline style. */
	a:focus-visible,
	button:focus-visible,
	input:focus-visible,
	textarea:focus-visible,
	select:focus-visible {
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 2px;
	}

	/* Prevent chrome autofill from changing input styles. */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition:
			background-color 5000000s linear 0s,
			color 5000000s linear 0s;
	}

	dialog {
		width: auto;
		max-width: none;
		max-height: none;
		height: auto;
		inset-inline-end: unset;
		inset-inline-start: unset;
	}
}
