@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		text-rendering: optimizeLegibility;
	}

	/** Prevent flash of highlighted color on interactable element press. */
	a,
	input,
	button {
		-webkit-tap-highlight-color: #0000;
	}

	/** Interactable elements have a consistent outline style. */
	a:focus-visible,
	button:focus-visible,
	input:focus-visible,
	textarea:focus-visible,
	select:focus-visible {
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 2px;
	}

	/* Prevent chrome autofill from changing input styles. */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition:
			background-color 5000000s linear 0s,
			color 5000000s linear 0s;
	}
}
