@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		text-rendering: optimizeLegibility;
	}

	a,
	input,
	button {
		-webkit-tap-highlight-color: #0000;
	}

	a:focus-visible,
	button:focus-visible,
	input:focus-visible,
	textarea:focus-visible {
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 2px;
	}
}
