.arrowBetween > div:first-child {
	width: calc(100% - 1.875rem);
	height: 4px;
	position: absolute;
	top: -0.0625rem;
	left: 0.875rem;
}

.arrowBetween > div:last-child {
	width: 0;
	height: 0;
	border-left-width: 24px;
	border-left-style: solid;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	position: absolute;
	top: -0.6875rem;
	right: 0.75rem;
}
