@import "tailwindcss";

@theme {
	--color-brand: oklch(74.48% 0.1727 158.48);

	--font-sans: "FontSans", "FontSans Fallback";
	--font-serif: "FontSerif", "FontSerif Fallback";
	--font-heading: "FontHeading", "FontHeading Fallback";

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	--animate-fadeIn: fadeIn 300ms linear;

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	--animate-fadeIn: fadeOut 300ms linear;

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
	--animate-caret-blink: caret-blink 1.2s ease-out infinite;
}

@utility scroll-shadow {
	mask-image: linear-gradient(
		#000,
		#000,
		transparent 0,
		#000 var(--scroll-shadow-size),
		#000 calc(100% - var(--scroll-shadow-size)),
		transparent
	);
}

@utility scroll-shadow-x {
	mask-image: linear-gradient(
		to right,
		#000,
		#000,
		transparent 0,
		#000 var(--scroll-shadow-size),
		#000 calc(100% - var(--scroll-shadow-size)),
		transparent
	);
}

@utility scroll-shadow-* {
	--scroll-shadow-size: --value(--spacing);
	--scroll-shadow-size: --value([integer]);
}

@utility scrollbar-hide {
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@layer base {
	html {
		text-rendering: optimizeLegibility;
	}

	/** Prevent flash of highlighted color on interactable element press. */
	a,
	input,
	button {
		-webkit-tap-highlight-color: #0000;
	}

	/** Interactable elements have a consistent outline style. */
	a:focus-visible,
	button:focus-visible,
	input:focus-visible,
	textarea:focus-visible,
	select:focus-visible {
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 2px;
	}

	/* Prevent chrome autofill from changing input styles. */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition:
			background-color 5000000s linear 0s,
			color 5000000s linear 0s;
	}
}
